# Binarios
bin/
obj/

# Archivos de compilación
*.exe
*.pdb
*.dll
*.class

# Archivos generados por Visual Studio
.vs/
*.vscode/
*.suo
*.sln
*.user
*.bak
*.cache

# Carpeta de paquetes NuGet
packages/

# Carpetas de salida generadas por IDEs
[Tt]emp/
[Ii]ntermediate/

# Archivos de respaldo y logs
*.log
*.bak
*.cache
*.backup
*.tmp

# Archivos de configuración locales
*.local