@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h1 class="display-4">¡Bienvenido!</h1>
                <p class="lead">Gracias por visitar nuestra aplicación de prueba técnica.</p>
                <hr class="my-4">
                <p>Esta es una prueba técnica para Desarrolladores .NET. ¡Esperamos que disfrutes explorando nuestro sitio!</p>
                <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Products")" role="button">Ir a la página de productos</a>
            </div>
        </div>
    </div>
</div>
