@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Bienvenido a a la prueba tecnica</h1>
            <p>Prueba técnica para Desarrollador .NET</p>
            <a asp-controller="Products" asp-action="Index">Ir a la página de productos</a>
        </div>
    </div>
</div>
